<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/login.js"></script>
<style>
html,body { 
	height: 100%; 
}
.global-container{
	height:150%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}
form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}
.card-title{ font-weight:300; }
.btn{
	font-size: 14px;
	margin-top:20px;
}
.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}
</style>
</head>
<body ng-app='loginapp'>
    <div ng-controller='logincntrl'>
        <div class="global-container" >
            <div class="card login-form" id="login">
                <div class="card-body">
                    <h3 class="card-title text-center"><b>Log In</b></h3><br>
                    <div class="card-text">
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="emailL" id="email" placeholder="email@gmail.com" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="passwordL" id="pass" placeholder="Password" required>
                            </div>
                            <button ng-click='signin(emailL,passwordL)' class="btn btn-primary btn-block">Sign In</button>
                            <div class="sign-up">
                                Don't have an account? <div class="text-primary" style="cursor: pointer;"  onclick="reverse()">Create One</div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card login-form" id="signup" style="display: none;">
                <div class="card-body">
                    <h3 class="card-title text-center"><b>Sign Up</b></h3><br>
                    <div class="card-text">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.fname" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.lname" placeholder="Last Name" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="tel" class="form-control" ng-model="user.phone" placeholder="9994440000" required minlength="10" maxlength="10">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="user.email" placeholder="name@gmail.com" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" ng-model="user.dob" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.state" placeholder="State" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="user.city" placeholder="City" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="number" class="form-control" ng-model="user.pincode" placeholder="Pincode" required maxlength="6">
                            </div>
                            <button ng-click='signup(user)' class="btn btn-primary btn-block">Sign Up</button>
                            <div class="sign-up">
                                Already have an account? <div class="text-primary" style="cursor: pointer;" onclick="reverseS()">Login</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>
<script>
function reverse() 
{
    document.getElementById("signup").style.display = "block";
    document.title = "Sign Up"
    document.getElementById("login").style.display = "none";
}
function reverseS() 
{ 
    document.getElementById("signup").style.display = "none";
    document.title = "Log In"
    document.getElementById("login").style.display = "block";
}
</script>
</html>